<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="serviceMapper">
  	<select id="CheckId" resultType="org.soldesk.DTO.CustomerDTO" parameterType="String">
  		select * from customer 
  		where c_loginid = #{c_loginid}
  	</select>
  	
  	<select id="loginCheckPw" resultType="String">
  		select * from customer
  		where c_pw = #{c_pw}
  	</select>
  	
  	<select id="loginck" resultType="String">
  		select * from customer
  		where c_loginid = #{c_loginid} and c_pw = #{c_pw}
  	</select>
  	
  	<select id="viewMember" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from customer
  		wehre c_loginid = #{c_loginid}
  	</select>
  	
  	<select id="selCheckId" resultType="org.soldesk.DTO.SellerDTO" parameterType="String">
  		select * from seller
  		where s_loginid = #{s_loginid}
  	</select>
  	
  	<select id="selloginCk" resultType="String">
  		select * from seller
  		where s_loginid = #{s_loginid} and s_pw = #{s_pw}
  	</select>
  	
  	<select id="viewSeller" resultType="org.soldesk.DTO.SellerDTO">
  		select * from seller
  		where s_loginid = #{s_loginid}
  	</select>
  	
  	<select id="customerfindId" resultType="String">
  		select * from customer
  		where  c_name = #{c_name}
  	</select>
  	
  	<select id="customerviewId" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from customer
  		where c_name = #{c_name}
  	</select>
  	
  	<select id="customerfindPw" resultType="String">
  		select * from customer
  		where  c_loginid = #{c_loginid}
  	</select>
  	
  	<select id="customerviewPw" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from customer
  		where c_loginid = #{c_loginid}
  	</select>
  	
  	<!-- seller -->
  	
  	<select id="sellerfindId" resultType="String">
  		select * from seller
  		where  s_name = #{s_name}
  	</select>
  	
  	<select id="sellerviewId" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from seller
  		where s_name = #{s_name}
  	</select>
  	
  	<select id="sellerfindPw" resultType="String">
  		select * from seller
  		where  s_loginid = #{s_loginid}
  	</select>
  	
  	<select id="sellerviewPw" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from customer
  		where s_loginid = #{s_loginid}
  	</select>
  	
  </mapper>