<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="serviceMapper">
  	<select id="CheckId" resultType="org.soldesk.DTO.CustomerDTO" parameterType="String">
  		select * from customer 
  		where c_loginid = #{c_loginid}
  	</select>
  	<select id="loginCheckPw" resultType="String">
  		select * from customer
  		where c_pw = #{c_pw}
  	</select>
  	
  	<select id="loginck" resultType="String">
  		select * from customer
  		where c_loginid = #{c_loginid} and c_pw = #{c_pw}
  	</select>
  	
  	
  	<select id="viewMember" resultType="org.soldesk.DTO.CustomerDTO">
  		select * from customer
  		wehre c_loginid = #{c_loginid}
  	</select>
  	
  	<!-- <select id="loginSeller" resultType="org.soldesk.DTO.sellerDTO" parameterType="String">
  		select * from seller
  		where s_loginid = #{s_loginid} and s_pw = #{s_pw}
  	</select>
  	
  	<select id="sellerCk" resultType="String">
  		select * from seller
  		where s_loginid = #{s_loginid} and s_pw = #{s_pw}
  	</select>
  	
  	<select id="viewSeller" resultType="org.soldesk.DTO.sellerDTO">
  		select * form seller
  		where s_loginid = #{s_loginid}
  	</select> -->
  </mapper>